#mainNav{

    position: -ms-device-fixed;
    position :fixed;

}

  .topicDate
 {
   margin-top : 5px;
      margin-bottom: 15px;
    font-size : 0.6em;
}
.topicContent{
    margin : 0;
    margin-left : 15px;

}