{% extends '_layout.twig' %}

{% block content %}
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <form action="{{ HOST }}addPost.html" method="post">
                  <div>
                      <label for="titre">Titre</label><br />
                      <input type="text" id="newTitle" name="newTitle" />
                  </div>
                  <div>
                      <label for="comment">Nouveau chapitre</label><br />
                      <textarea id="newPost" name="newPost"></textarea>
                  </div>
                  <div>
                      <input type="submit" />
                  </div>
              </form>
          </div>
        </div>
      </div>
    </article>

    <hr>



    <hr>

{% endblock %}