{% extends '_layout.twig' %}

{% block content %}
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <form action="{{ HOST }}updateOnbasePost.html?idPost={{ chapters.getPostId()  }}" method="post">
                  <div>
                      <label for="titre">Titre</label><br />
                      <input type="text" id="newTitle" name="newTitle" value="{{ chapters.getTitle()}}" />
                  </div>
                  <div>
                      <label for="comment">Nouveau chapitre</label><br />
                      <textarea id="newPost" name="newPost">{{ chapters.getContent()}}</textarea>
                  </div>
                  <div>

                     <label for="comment">Ordre d'affichage</label><br />
                      <input type="text" id="order" name="order" />

                  </div>

                  <div>
                      </br>
                      <input class ="btn btn-group-sm btn-primary" type="submit" name="Validation" />
                      <input class ="btn btn-group-sm btn-primary" type="submit" value ="ANNULER"   name="Annulation"/>




                  </div>
              </form>
          </div>
        </div>
      </div>
    </article>

    <hr>



    <hr>

{% endblock %}